* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #0f2f1f, #071a11);
  color: #f5f5f5;
  line-height: 1.6;
  padding: 20px;
}



header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}

header img {
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* SECTIONS */

section {
  background: #0d2418;
  margin: 20px auto;
  padding: 25px;
  border-radius: 15px;
  max-width: 900px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}


p {
  margin-bottom: 15px;
}

h1 {
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 10px;
  color: #7CFFB2;
}

h3 {
  margin-top: 10px;
}

/* LISTA */

ul {
  list-style: none;
}

li {
  margin: 10px 0;
  font-size: 1.1rem;
}

/* IMAGENS */

section img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  display: block;
  margin: 15px auto;
}

/* BOTÃo */

a.botao,
button {
  display: inline-block;
  background: linear-gradient(135deg, #2ecc71, #27ae60);
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

a.botao:hover,
button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

/* PRICE BOX */

div {
  background: #081b12;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
}

/* FOOTER */

footer {
  text-align: center;
  margin-top: 40px;
  opacity: 0.7;
  border-top: 1px solid #1d4d34;
  padding-top: 15px;
}

/* RESPONSIVE */

@media (max-width: 768px) {

  header h1 {
    font-size: 1.6rem;
  }

  section {
    padding: 20px;
  }

}

section:last-of-type {
  text-align: center;
  background: transparent;
  box-shadow: none;
}

section:last-of-type a,
section:last-of-type button {
  font-size: 1.3rem;
  padding: 18px 40px;
  border-radius: 12px;
  background: linear-gradient(135deg, #00ff9c, #00c76a);
  box-shadow: 0 10px 30px rgba(0, 255, 150, 0.4);
  animation: pulse 2s infinite;
}

section:last-of-type a:hover,
section:last-of-type button:hover {
  transform: scale(1.05);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(0,255,150,0.4);
  }
  50% {
    box-shadow: 0 0 25px rgba(0,255,150,0.7);
  }
  100% {
    box-shadow: 0 0 0 rgba(0,255,150,0.4);
  }
}

header img {
  margin-top: 10px;
  border-radius: 50%; /* bordas arredondadas */
}

/* Estilização do figure da pagina produtos */

figure img {
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}